.main-background {
    -fx-background-color: #E8ECEF;
}

.sidebar {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
    -fx-pref-width: 300;
}


.map-container {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #D1D5DB;
    -fx-border-width: 2;
    -fx-padding: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}


.map-container .web-view {
    -fx-background-radius: 13;
}


.btn {
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 12 15 12 15;
    -fx-background-radius: 25;
    -fx-cursor: hand;
}

.btn-white {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-border-color: #E5E7EB;
    -fx-border-radius: 25;
    -fx-border-width: 1;
}
.btn-white:hover {
    -fx-background-color: #F3F4F6;
}

.btn-green {
    -fx-background-color: #2ECC71;
    -fx-text-fill: white;
}
.btn-green:hover {
    -fx-background-color: #27AE60;
}

.btn-black {
    -fx-background-color: #111827;
    -fx-text-fill: white;
}
.btn-black:hover {
    -fx-background-color: #374151;
}

.btn-grey {
    -fx-background-color: #6B7280;
    -fx-text-fill: white;
}
.btn-grey:hover {
    -fx-background-color: #4B5563;
}

.btn-danger {
    -fx-background-color: #111827;
    -fx-text-fill: #EF4444;
}
.btn-danger:hover {
    -fx-background-color: #374151;
}

.custom-list {
    -fx-background-color: transparent;
    -fx-border-color: #E5E7EB;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

.custom-list .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #374151;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-padding: 10 5 10 10;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #F3F4F6;
}

.custom-list .list-cell:empty {
    -fx-border-width: 0;
}

.custom-list .list-cell:selected {
    -fx-background-color: #E5E7EB;
    -fx-background-radius: 8;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
