target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
config.properties


.idea/
*.iml
*.iws
*.ipr
out/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.env
*.properties
*.config
secret.json
users.json
projects.json
